.model{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: black;
    display: none;
}
.modal-content{
    background-color: white;
    opacity: 1;
    width: 700px;
    height: 570px;
    border-radius: 4px;
    text-align: left;
    padding: 30px;
}