<!DOCTYPE html>
<html lang="en">

    <head>
        <title>
            {% block title %}dd
            {% endblock %}
        </title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"/>

        <link href="/css/fontawesome.min.css" rel="stylesheet"/>

        <link href="/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="/css/templatemo-style.css" rel="stylesheet"/>

        <link href="/css/meuCss.css" rel="stylesheet"/>
        <script src="/js/jquery-3.4.0.min.js"></script>


    </head>

    <body>
        <header>
            {% if session.get("nivelAcesso") == 0 %}
                {% include "headerUsuario.html" %}
            {% else %}
                {% include "headerAdmin.html" %}
            {% endif %}

        </header>

        {% block center %}{% endblock %}

        <footer>
            {% block footer %}{% endblock %}
        </footer>

        <script src="/js/js.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="/js/tooplate-scripts.js"></script>
        <script src="/js/Chart.min.js"></script>
        <script src="/js/moment.min.js"></script>

    </body>

</html>
