{% extends "base.html" %}

{% block title %}
    Cadastrar Usuario
{% endblock %}

{% block center %}

    <div class="container col-lg-10 ">
        <div class="row">
            <div class="col-xl-9 col-lg-10 col-12 col-sm-12 mx-auto">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-block-title d-inline-block">CADASTRAR USUÁRIO</h2>
                        </div>
                    </div>
                    <div class="row tm-edit-product-row">

                        <form action="/cadastrar_usuario" class="formulario tm-edit-product-form" method="POST">
                            <div class="form-group">
                                <label for="name">Nome Completo
                                </label>
                                <input class="form-control validate" id="name" name="name" required type="text"/>
                            </div>
                            <div class="form-group">
                                <label for="email">E-mail:
                                </label>
                                <input class="form-control validate" id name="email" type="text">
                            </div>
                            <div class="form-group">
                                <label for="senha">Senha:
                                </label>
                                <input class="form-control validate" id name="senha" type="password">
                            </div>
                            <div class="form-group">
                                <label for="genero">Genero:
                                </label>
                                <select class="custom-select tm-select-accounts" id="genero" name="genero">
                                    <option selected>Selecione</option>
                                    <option value="1">Masculino</option>
                                    <option value="2">Feminino</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="nacionalidade">Nacionalidade:
                                </label>
                                <input class="form-control validate" name="nacionalidade" type="text">
                            </div>
                            <div class="form-group">
                                <label for="dataNascimento">Data de Nascimento:
                                </label>
                                <input class="form-control validate" name="dataNascimento" type="date">
                            </div>

                            <div class="row">
                                <div class="form-group col-md-9">
                                    <label for="endereco">Endereço:
                                    </label>
                                    <input class="form-control validate" name="endereco" type="text">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="cidadeEstado">Cidade/Estado:
                                    </label>
                                    <input class="form-control validate" name="cidadeEstado" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="telefone">Telefone:
                                </label>
                                <input class="form-control validate" name="telefone" type="number">
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary btn-block text-uppercase formulario" type="submit">CADASTRAR USUÁRIO</button>
                            </div>
                            <div class="status text-center"></div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
