{% extends "base.html"%}

{% block title %}Cadastrar Vaga
{% endblock %}

{% block center %}
    <div class="container center-block">
        <div class="row">
            <div class="col-xl-9 col-lg-10 col-12 col-sm-12 mx-auto">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-block-title d-inline-block">CADASTRAR VAGA</h2>
                        </div>
                    </div>
                    <div class="row tm-edit-product-row ">
                        <form class="formulario tm-edit-product-form" action="/efetuar_cadastro_vaga" method="POST">
                            <div class="form-group">
                                <label for="cargo">Cargo
                                </label>
                                <input class="form-control validate" id="cargo" name="cargo" required type="text"/>
                            </div>
                            <div class="form-group">
                                <label for="descricao">Descrição
                                </label>
                                <textarea class="form-control validate" id="descricao" name="descricao" cols="60" rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="qtdVagas">Quantidade de Vagas
                                </label>
                                <input class="form-control validate" id="qtdVagas" name="qtdVagas" required type="text"/>
                            </div>
                            <div class="form-group">
                                <label for="localtrabalho">Local de Trabalho
                                </label>
                                <input class="form-control validate" id="localtrabalho" name="localtrabalho" required type="text"/>
                            </div>
                            <div class="form-group">
                                <label for="salario">Salário
                                </label>
                                <input class="form-control validate" id="salario" name="salario"/>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary btn-block text-uppercase formulario" type="submit">CADASTRAR VAGA</button>
                            </div>

                            <div class="status text-center"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
