<nav class="navbar navbar-expand-xl">
    <div class="container h-100">
        <a class="navbar-brand" href="/">
            <h1 class="tm-site-title mb-0">NerdDev</h1>
        </a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler ml-auto mr-0" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <i class="fas fa-bars "></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto h-100">
                <li class="nav-item">
                    <a class="nav-link" href="home.html">
                        <i class="fas fa-tachometer-alt"></i>
                        HOME
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
                        <i class="far fa-file-alt"></i>
                        FALE CONOSCO
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/painel">
                        <i class="fas fa-shopping-cart"></i>
                        TRABALHE CONOSCO
                    </a>
                </li>

                <li class="nav-item">
                    {% if session.existe("usuario") %}

                        <a class="nav-link" href="/perfil">
                            <i class="far fa-user"></i>
                            PERFIL
                        </a>
                    {% endif %}
                </li>
            </ul>
        </div>
        <div>

            <div class="login nav-link">
                {% if session.get("usuario") is empty %}
                    <a href="/formulario_cadastrar_usuario">Cadastrar usuario</a>
                    <a href="/login">
                        / login</a>
                {% else %}
                    {{session.get("usuario")}}
                    <a href="/efetuar_logout">
                        / logout</a>

                {% endif %}

            </div>
        </div>
    </div>
</nav>
