<nav class="navbar navbar-expand-xl">
    <div class="container h-100">
        <a class="navbar-brand" href="/painel_controle">
            <h1 class="tm-site-title mb-0">NerdDev</h1>
        </a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler ml-auto mr-0" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <i class="fas fa-bars "></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto h-100">
                <li class="nav-item">
                    <a class="nav-link" href="/painel_controle">
                        <i class="fas fa-tachometer-alt"></i>
                        PAINEL DE CONTROLE
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/cadastrar_vaga">
                        <i class="far fa-file-alt"></i>
                        CADASTRAR VAGAS
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
                        <i class="far fa-file-alt"></i>
                        <span>
                            RELATÓRIOS
                            <i class="fas fa-angle-down"></i>
                        </span>
                        <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <a class="dropdown-item" href="/relatorios?op=1">Vagas Cadastradas</a>
                            <a class="dropdown-item" href="/relatorios?op=2">Candidatos vaga</a>
                            <a class="dropdown-item" href="/relatorios?op=3">Curriculos Cadastrados</a>
                        </div>
                    </a>
                </li>

                <li class="nav-item">

                    <a class="nav-link" href="/perfil">
                        <i class="far fa-user"></i>
                        PERFIL
                    </a>

                </li>
            </ul>
        </div>
        <div>

            <div class="login nav-link">
                {% if session.get("usuario") is empty %}
                    <a href="/formulario_cadastrar_usuario">Cadastrar usuario</a>
                    <a href="/login">
                        / login</a>
                {% else %}
                    {{session.get("usuario")}}
                    <a href="/efetuar_logout">
                        / logout</a>

                {% endif %}

            </div>
        </div>
    </div>
</nav>
