{% extends "base.html"%}
{% block center %}
    <div class="container tm-mt-big tm-mb-big">
        <div class="row">
            <div class="col-12 mx-auto tm-login-col">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2 class="tm-block-title mb-4">Efetuar Login</h2>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <form action="/efetuar_login" class="tm-login-form formulario" method="POST">
                                <div class="form-group">
                                    <label for="email">E-mail:
                                    </label>
                                    <input class="form-control validate" name="email" required type="email"/>
                                </div>
                                <div class="form-group mt-3">
                                    <label for="senha">Senha:</label>
                                    <input class="form-control validate" name="senha" required type="password"/>
                                </div>
                                <div class="form-group mt-4">
                                    <button class="btn btn-primary btn-block text-uppercase" id="submeterLogin" type="submit">
                                        Login
                                    </button>
                                </div>
                                <a href="/formulario_cadastrar_usuario">
                                    <button class="btn btn-primary btn-block text-uppercase" type="button">

                                        Cadastre-se
                                    </button>
                                </a>
                                <div class="status text-center"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
