{% extends "base.html"%}

{% block title %}Painel de Controle
{% endblock %}
{% block center %}
    <div class="container">

        <div class="col-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                <h2 class="tm-block-title">VAGAS INATIVAS</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">STATUS</th>
                            <th scope="col">CARGO</th>
                            <th scope="col">LOCAL DE TRABALHO</th>
                            <th scope="col">SALARIO</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if vagasinativas != null %}
                            {% for vaga in vagasinativas %}
                                <tr>
                                    <th scope="row">
                                        <a href=" /vaga?id={{vaga.id}} " type="button">ver vaga</a>
                                    </th>
                                    <td>
                                        <div class="tm-status-circle pending">Inativa</div>
                                    </td>
                                    <td>{{vaga.cargo}}</td>
                                    <td>{{vaga.localTrabalho}}</td>
                                    <td>{{vaga.salario}}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <th scope="row"></th>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                <h2 class="tm-block-title">VAGAS ABERTAS</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">STATUS</th>
                            <th scope="col">CARGO</th>
                            <th scope="col">LOCAL DE TRABALHO</th>
                            <th scope="col">SALARIO</th>
                            <th scope="col">DATA DE FECHAMENTO</th>
                            <th scope="col">VAGAS</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% if vagasabertas != null %}
                            {% for vaga in vagasabertas %}
                                <tr>
                                    <th scope="row">
                                        <a href=" '/vaga?id=' + {{vaga.id}} " type="button">ver vaga</a>
                                    </th>
                                    <td>
                                        <div class="tm-status-circle moving">Aberta</div>
                                    </td>
                                    <td>{{vaga.cargo}}</td>
                                    <td>{{vaga.localTrabalho}}</td>
                                    <td>{{vaga.salario}}</td>
                                    <td>{{vaga.dataFechamento}}</td>
                                    <td>{{vaga.qtdVagas}}</td>

                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <th scope="row"></th>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>

                            </tr>
                        {% endif %}
                    </tbody>
                </table>

            </div>
        </div>


        <div class="col-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                <h2 class="tm-block-title">VAGAS FECHADAS</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">STATUS</th>
                            <th scope="col">CARGO</th>
                            <th scope="col">LOCAL DE TRABALHO</th>
                            <th scope="col">SALARIO</th>
                            <th scope="col">VAGAS</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% if vagasfechadas != null %}
                            {% for vaga in vagasfechadas %}
                                <tr>
                                    <th scope="row">
                                        <a href=" '/vaga?id=' + {{vaga.id}} " type="button">ver vaga</a>
                                    </th>
                                    <td>
                                        <div class="tm-status-circle cancelled">Fechada</div>
                                    </td>
                                    <td>{{vaga.cargo}}</td>
                                    <td>{{vaga.localTrabalho}}</td>
                                    <td>{{vaga.salario}}</td>
                                    <td>{{vaga.qtdVagas}}</td>

                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <th scope="row"></th>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>

                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
