{% extends "base.html"%}
{% block title %}Perfil
{% endblock %}

{% block center %}

    <div class="container mt-5 ">
        <div class="row tm-content-row">
            <div class="tm-block-col tm-col-account-settings col-md-8">
                <div class="tm-bg-primary-dark tm-block tm-block-settings">
                    <h2 class="tm-block-title">Dados Usuário</h2>
                    <form action="/atualizar_usuario" class="tm-signup-form row" enctype="multipart/form-data" method="POST">
                        <div class="form-group col-lg-6">
                            <label for="name">Nome</label>
                            <input class="form-control validate " name="name" type="text" value="{{usuario.nome}}"/>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="email">Email</label>
                            <input class="form-control validate" id="email" name="email" type="email" value="{{usuario.email}}"/>
                        </div>
                        <div class="form-group">
                            <label for="genero">Genero:
                            </label>
                            <select class="custom-select tm-select-accounts" id="genero" name="genero">
                                <option selected>
                                    {% if usuario.genero == 1 %}
                                        Masculino
                                    {% else %}
                                        Feminino
                                    {% endif %}
                                </option>
                                <option value="1">Masculino</option>
                                <option value="2">Feminino</option>
                            </select>
                        </div>

                        <div class="form-group col-lg-6">
                            <label for="dataNascimento">Data Nascimento</label>
                            <input class="form-control validate" id="dataNascimento" name="dataNascimento" type="date" value="{{usuario.dataNascimento|date("Y-m-d")}}"/>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6 col-md-9">
                                <label for="endereco">Endereco</label>
                                <input class="form-control validate" id="endereco" name="endereco" type="text" value="{{usuario.endereco}}"/>
                            </div>
                            <div class="form-group col-lg-6 col-md-9">
                                <label for="cidadeEstado">Cidade/Estado</label>
                                <input class="form-control validate" id="cidadeEstado" name="cidadeEstado" type="text" value="{{usuario.cidadeEstado}}"/>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-9">
                            <label for="telefone">Telefone</label>
                            <input class="form-control validate" id="telefone" name="telefone" type="tel" value="{{usuario.telefone}}"/>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="tm-hide-sm"></label>
                            <button class="btn btn-primary btn-block text-uppercase " onclick="ativarCampos()" type="submit">
                                Atualizar dados
                            </button>
                        </div>
                    </form>
                    {% if session.get("nivelAcesso") == 0 %}
                    
                        <div class="col-12">
                            {% if session.existe("curriculo") %}
                                <form action="/atualizar_curriculo" class="formulario" enctype="multipart/form-data" method="POST">
                                    <div class="row tm-content-row">
                                        <div class="tm-block-col tm-col-account-settings col-md-8">
                                            <div class="tm-bg-primary-dark tm-block tm-block-settings">
                                                <h2 class="tm-block-title text-uppercase">curriculo</h2>
                                                <input class="file-chooser" type="file">

                                            </div>
                                        </div>
                                        <button type="submit">atualizar curriculo</button>
                                    </div>
                                </form>

                            {% else %}
                                <form action="/cadastrar_curriculo" class="formulario" enctype="multipart/form-data">
                                    <label class="text-uppercase" for="cadstrarcurriculo">cadastrar curriculo</label>
                                    <input accept=".pdf" class="file-chooser" id="file-upload" name="cadstrarcurriculo" type="file">
                                    <button class="text-uppercase" type="submit">cadastrar curriculo</button>
                                    <div class="status"></div>
                                </form>
                            {% endif %}
                        </div>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
