{% extends "base.html"%}

{% block title %}Vaga
{% endblock %}

{% block center %}
<div class="container">
    <div class="col-12 tm-block-col">
        <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
            <div class="row">
                <h2 class="tm-block-title">{{vaga.cargo}}</h2>
            </div>
            <div class="row">
                    <form class="formulario tm-edit-product-form" action="/efetuar_cadastro_vaga" method="POST">
                        <div class="form-group">
                            <label for="cargo">Cargo
                            </label>
                            <input class="form-control validate" id="cargo" name="cargo" required type="text" value="{{vaga.cargo}}"/>
                        </div>
                        <div class="form-group">
                            <label for="descricao">Descrição
                            </label>
                            <textarea class="form-control validate" id="descricao" name="descricao" cols="60" rows="5">{{vaga.descricao}}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="qtdVagas">Quantidade de Vagas
                            </label>
                            <input class="form-control validate" id="qtdVagas" name="qtdVagas" required type="text" value="{{vaga.qtdVagas}}"/>
                        </div>
                        <div class="form-group">
                            <label for="localtrabalho">Local de Trabalho
                            </label>
                            <input class="form-control validate" id="localtrabalho" name="localtrabalho" required type="text" value="{{vaga.localTrabalho}}"/>
                        </div>
                        <div class="form-group">
                            <label for="salario">Salário
                            </label>
                            <input class="form-control validate" id="salario" name="salario" value="{{vaga.salario}}"/>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {% if vaga.statusVaga == 0  %}
                                    <button class="btn btn-primary btn-block text-uppercase formulario" type="submit" onclick="abrirvaga()">ABRIR VAGA</button>
                                {% elseif  vaga.statusVaga == 1 %}
                                    <button class="btn btn-primary btn-block text-uppercase formulario" type="submit" onclick="abrirvaga()">FECHAR VAGA</button>
                                {% else %}
                                    <button class="btn btn-primary btn-block text-uppercase formulario" type="submit" onclick="abrirvaga()">ENCERRAR PROCESSO SELETIVO</button>
                                {% endif %}

                            </div>
                        </div>
                        
                        <div class="col-12">
                            <button class="btn btn-primary btn-block text-uppercase formulario" type="submit">CADASTRAR VAGA</button>
                        </div>

                        <div class="status text-center"></div>
                    </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
